<div class="container">

  <igx-input-group class="test">
    <input class="range-input text-left" igxInput id="lowerInput" type="text" [ngModel]="inputPriceRange.lower"
      (blur)="updatePriceRange($event.target)" />
  </igx-input-group>

  <igx-slider class="test" id="slider" [type]="sliderType.RANGE" [minValue]="minValue" [maxValue]="maxValue"
    [lowerBound]="minValue" [upperBound]="maxValue" [(ngModel)]="inputPriceRange" (click)="OnChange(inputPriceRange)">
  </igx-slider>

  <igx-input-group class="test">
    <input class="range-input text-right" igxInput id="upperInput" type="text" [ngModel]="inputPriceRange.upper"
      (blur)="updatePriceRange($event.target)" />
  </igx-input-group>

</div>