<form>
  <div class="func-container">

    <div class="func">
      <form [formGroup]="dropDownForm">
        <select formControlName="leaveList" class="form-control">
          <option *ngFor="let item of leaveDropDown" [ngValue]="item">
            {{item.name}}
          </option>
        </select>
      </form>
    </div>

    <div class="func slider1">
      <app-slider *ngIf="response"></app-slider>
    </div>

    <div class="func">
      <input type="search" placeholder="Search" (keyup)="setText($event.target.value)">
    </div>

  </div>
</form>



<div class="cards-list" *ngIf="rolsView">
  <div *ngFor="let rol of rolsView">
    <div class="card">
      <div class="card_image">
        <img src={{rol.image}} />
      </div>
      <div class="card_title title-white">
        <p>{{rol.name}}</p>
        <p>{{rol.weight}}гр/{{rol.count}}шт - {{rol.price}} грн</p>
        <p></p>
      </div>
    </div>
  </div>
</div>