<form>
  <div class="func-container">

    <div class="func" *ngIf="sortDropDownForm">
      <form [formGroup]="sortDropDownForm">
        <select formControlName="sortList" class="form-control" (ngModelChange)="multiFilter()">
          <option *ngFor="let item of sortDropDown" [ngValue]="item">
            {{item[0]}} _ {{item[1]}}
          </option>
        </select>
      </form>
    </div>

    <div class="func" *ngIf="restDropDownForm">
      <form [formGroup]="restDropDownForm">
        <select formControlName="restaurantList" class="form-control" (ngModelChange)="multiFilter()">
          <option *ngFor="let item of typeDropDown" [ngValue]="item">
            {{item.name}}
          </option>
        </select>
      </form>
    </div>

    <div class="func slider1">
      <app-slider *ngIf="response"></app-slider>
    </div>

    <div class="func">
      <input type="search" placeholder="Search" (keyup)="setText($event.target.value)">
    </div>

  </div>
</form>

<div class="cards-list" *ngIf="pizzaView">
  <div *ngFor="let pizza of pizzaView">
    <div class="card">
      <div class="card_image">
        <img src={{pizza.image}} />
      </div>
      <div class="card_title title-white">
        <p>{{pizza.name}}</p>
        <p>{{pizza.weight}}гр/{{pizza.count}}шт - {{pizza.price}} грн</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
