@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin all-transition($time) {
  transition: all $time;
  -webkit-transition: all $time;
}
body {
  margin: 0;
  font-family: "Muli", sans-serif;
}
.menu {
  font-weight: 100;
  background: #efefef;
  width: 350px;
  top: 87px;
  height: 100%;
  padding-right: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
  left: -300px;
  @include all-transition(0.3s);
  color: #222;
  max-height: calc(100vh - 87px);

  &:hover,
  &:focus {
    transform: translate3d(300px, 0, 0);
    animation-timing-function: 1s ease-in;
  }
  .title {
    top: 50%;
    @include vertical-align(absolute);
    transform: rotate(90deg);
    right: 4px;
    font-weight: 800;
    font-size: 15px;
  }
  .nav {
    @include vertical-align(absolute);
    font-weight: 100;
    li {
      padding-bottom: 30px;
      list-style-type: none;
      a {
        display: block;
        text-decoration: none;
        color: inherit;
        @include all-transition(0.3s);
        &:hover {
          color: #aaa;
        }
      }
    }
  }
}


.btn-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.btn-menu {
  height: 100%;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
	height: 33.33%;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-1 {
  background-color: #FF6766;
}

.box-2 {
  background-color: #3C3C3C;
}

.box-3 {
  background-color: #66A182;
}

.box-4 {
  background-color: rgb(161, 160, 102);

  // background-image: url("https://roobica.com/image/services/restaurant/423424513523243840842461913.jpg");
  // background-size: cover;
  // position: relative;
  // &:hover{
  //   .placBg{
  //     display: block;
  //     transition: 0.5s;
  //   }
  // }
  // .placBg{
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0,0,0, 0.5);
  //   z-index:0;
  //   transition: 0.5s;
  //   display: none;
  // }
}


.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  z-index: 1;
}


.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

.card_image {
  height: 100%;
  width: 100%;
}
