<!-- <div class="con">
  Sidebar
  <div><br>
    <div (click)="redirect('sets')">Sets</div><br>
    <div (click)="redirect('rols')">Rols</div><br>
    <div (click)="redirect('sushi')">Sushi</div><br>
    <div (click)="redirect('pizza')">Pizza</div><br>
  </div>
</div> -->

<div class="menu">
  <div class="title">MENU</div>
  <ul class="nav">
    <button (click)="redirect('sets')">Sets</button><br>
    <button (click)="redirect('rols')">Rols</button><br>
    <button (click)="redirect('sushi')">Sushi</button><br>
    <button (click)="redirect('pizza')">Pizza</button><br>
  </ul>
</div>
